page-price-tick {

    .div-text {
        margin: 10% 0% 14% 0%;
    }

    .selectors {
        margin-bottom: 30px;
    }

    ion-input {
        border: 1px solid rgb(189, 184, 184);
        border-radius: 5px;
        padding: 5px;
        margin-top: 10px;
    }

    h4 {
        color: rgb(189, 184, 184);
        font-size: 20px;
    }
   
}
